* {
  margin: 0;
  padding: 0;
}
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}
body {
  font-size: 12.5px;
  font-family: "Josefin Sans", sans-serif;

  line-height: 1.8;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: darkgrey;
}
.attribution a {
  color: var(--Desaturated-Red);
}
main {
  display: grid;
  grid-template-rows: 15% 70%;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 45em;
  margin: 0 auto;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: contain;
  margin-top: 80px;
}
.logo-bar {
  grid-area: 1;
  justify-self: start;
  padding-top: 55px;
}
.logo-bar img {
  margin-left: 95px;
}
.info-container {
  grid-area: 2;
  display: flex;
  flex-direction: column;
  width: 65%;
  font-weight: 400;
  padding-top: 5em;
}
.hero {
  grid-area: 2/3;
  width: 100%;
  height: inherit;
  background-size: cover;
}
.hero img {
  height: inherit;
}
.info-container h1,
h2 {
  color: var(--Desaturated-Red);
  font-size: 45px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.info-container h2 {
  color: var(--Dark-Grayish-Red);
  font-weight: 600;
}
.info-container p {
  color: var(--Desaturated-Red);
  margin: 1.2em 0 2.5em;
  opacity: 0.8;
  letter-spacing: 0.5px;
}
/* suscribe bar */
.submit-form {
  display: flex;
  flex-direction: row;
  position: relative;
}
.form-control {
  width: 100%;
}
.form-control input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 50px;
  height: 45px;
  background-color: transparent;
  outline-style: none;
  padding-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--Dark-Grayish-Red);
}
input::placeholder {
  color: rgba(206, 151, 151, 0.5);
  opacity: 0.8;
}

button {
  position: absolute;
  right: 0;
  width: 85px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 50px;
  height: 45px;
  cursor: pointer;
  outline-style: none;
  box-shadow: 0px 15px 31px 4px rgba(206, 151, 151, 0.7);
}
button:hover {
  background-image: linear-gradient(
    135deg,
    hsla(0, 75%, 92%, 0.817),
    hsla(0, 67%, 76%, 0.639)
  );
}
.error-box {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 40px;
  width: 30%;
}
.form-control img {
  visibility: hidden;
}
.form-control small {
  padding: 5px 0 0 20px;
  color: var(--Soft-Red);
  visibility: hidden;
}

/* error display */
.form-control.error small {
  visibility: visible;
}
.form-control.error img {
  visibility: visible;
}
.form-control.error input {
  border: 1.5px solid var(--Soft-Red);
}
/* termina css de error */

/* mensaje de exito */
.form-control.success input {
  border: 1px solid var(--Desaturated-Red);
}
.form-control.success small {
  visibility: visible;
  color: rgb(111, 184, 111);
}
